@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* line 3, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  overflow-x: hidden; }

/* line 9, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.sidebar {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 50px;
  background-color: #eee;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2); }
  /* line 19, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .sidebar i {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 0px 12px;
    cursor: pointer;
    color: #888; }
    /* line 25, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .sidebar i:hover {
      color: #444; }
  /* line 29, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .sidebar .links {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px; }

/* line 36, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.nav {
  margin-top: 25vh; }
  /* line 38, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .nav a {
    text-decoration: none;
    color: #eee; }
  /* line 42, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .nav .box {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    color: #eee;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    line-height: 30px; }

/* line 54, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.blue {
  background: #6495ED; }

/* line 58, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.green {
  background: #37a679; }

/* line 62, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.red {
  background: #F26D6D; }

/* line 66, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.purple {
  background: #bd63de; }

/* line 70, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.orange {
  background: #E8852C; }

/* line 74, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.not-active {
  opacity: 0.4; }
  /* line 76, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .not-active:hover {
    opacity: 1;
    cursor: pointer; }

/* line 82, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.card {
  margin-left: 30px;
  height: 500px; }
  /* line 85, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .usage {
    color: #eee;
    margin-left: 20px;
    max-width: 500px;
    padding: 0px 0px 10px 10px;
    font-size: 16px; }
    /* line 86, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card .usage h3 {
      margin-bottom: 0px; }
  /* line 95, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .request {
    display: inline-block; }
  /* line 98, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .response {
    display: inline-block;
    padding-left: 100px; }
    /* line 101, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card .response p {
      font-style: italic;
      opacity: 0.6; }
  /* line 106, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .info {
    font-size: 20px;
    margin-left: -35px;
    cursor: pointer; }
  /* line 111, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card h1 {
    padding-top: 5px;
    padding-left: 30px;
    font-size: 70px;
    letter-spacing: 10px;
    margin-top: 0px;
    color: #eee;
    font-family: 'Poiret One', cursive; }
  /* line 120, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card h2 {
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: -60px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Poiret One', cursive;
    color: #eee; }
  /* line 129, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card a {
    text-decoration: none;
    color: #eee;
    font-family: monospace; }

/* line 136, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.fm-bg {
  background-color: #37a679;
  margin-left: 20px; }
  /* line 140, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .fm-bg h1,
  .fm-bg h2 {
    background-color: #3cb483; }
  /* line 143, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .fm-bg .usage {
    border-left: 5px solid #3cb483; }
  /* line 146, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .fm-bg .metadata {
    margin-left: 30px;
    color: #eee;
    font-family: 'Ubuntu', sans-serif; }
    /* line 150, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata h3 {
      margin-bottom: 10px; }
    /* line 153, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata .file-upload {
      position: relative;
      overflow: hidden; }
    /* line 157, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata .file-upload input.file-input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer; }
    /* line 169, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata button:hover {
      background: white;
      color: #40C18C; }

/* line 177, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.timestamp-bg {
  background-color: #6495ED;
  margin-left: 20px; }
  /* line 181, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .timestamp-bg h1,
  .timestamp-bg h2 {
    background-color: #6ca0fe; }
  /* line 184, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .timestamp-bg .usage {
    border-left: 5px solid #6ca0fe; }
  /* line 187, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .timestamp-bg .timestamp {
    margin-left: 30px;
    color: #eee;
    font-family: 'Ubuntu', sans-serif; }
    /* line 191, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .timestamp-bg .timestamp h3 {
      margin-bottom: 10px; }
    /* line 194, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .timestamp-bg .timestamp input[type=text] {
      background: none;
      border: none;
      max-width: 500px;
      border-bottom: 2px solid #eee;
      border-left: 2px solid #eee;
      padding-left: 5px;
      color: white;
      letter-spacing: 2px; }
      /* line 203, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .timestamp-bg .timestamp input[type=text]:focus {
        outline: none; }

/* line 210, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.url-bg {
  background-color: #F26D6D;
  margin-left: 20px; }
  /* line 214, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg h1,
  .url-bg h2 {
    background-color: #EF8080; }
  /* line 217, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg .usage {
    border-left: 5px solid #EF8080; }
  /* line 220, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg .url-short {
    margin-left: 30px;
    color: #eee; }
  /* line 224, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg input[type=text] {
    background: none;
    border: none;
    max-width: 500px;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
    padding-left: 5px;
    color: white;
    letter-spacing: 2px; }
    /* line 233, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .url-bg input[type=text]:focus {
      outline: none; }

/* line 239, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.header-bg {
  background-color: #bd63de;
  margin-left: 20px; }
  /* line 243, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .header-bg h1,
  .header-bg h2 {
    background-color: #cd6cf0; }
  /* line 246, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .header-bg .header-parser {
    margin-left: 30px;
    color: #eee; }
    /* line 249, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .header-bg .header-parser h3 {
      margin-bottom: 10px; }
    /* line 252, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .header-bg .header-parser button {
      background: none;
      border: 2px solid white;
      border-radius: 2px;
      padding: 5px 10px;
      color: #eee;
      font-family: monospace;
      cursor: pointer; }
      /* line 260, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .header-bg .header-parser button:hover {
        background: white;
        color: #bd63de; }
      /* line 264, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .header-bg .header-parser button:focus {
        outline: none; }

/* line 271, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.img-bg {
  background-color: #E8852C;
  margin-left: 20px; }
  /* line 275, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .img-bg h1,
  .img-bg h2 {
    background-color: #fa8e2e; }
  /* line 278, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .img-bg .img-ab {
    margin-left: 30px;
    color: #eee; }
    /* line 281, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .img-bg .img-ab h3 {
      margin-bottom: 10px; }
    /* line 284, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .img-bg .img-ab input[type=text] {
      background: none;
      border: none;
      max-width: 500px;
      border-bottom: 2px solid #eee;
      border-left: 2px solid #eee;
      padding-left: 5px;
      color: white;
      letter-spacing: 2px; }
      /* line 293, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .img-bg .img-ab input[type=text]:focus {
        outline: none; }

/* line 301, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* line 304, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
:-moz-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* line 307, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
::-moz-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* line 310, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
:-ms-input-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/*# sourceMappingURL=main.css.map */