@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* line 3, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  overflow-x: hidden; }

/* line 9, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.sidebar {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 50px;
  background-color: #eee;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2); }
  /* line 19, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .sidebar i {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 0px 12px;
    cursor: pointer;
    color: #888; }
    /* line 25, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .sidebar i:hover {
      color: #444; }
  /* line 29, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .sidebar .links {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px; }

/* line 36, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.nav {
  margin-top: 25vh; }
  /* line 38, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .nav a {
    text-decoration: none;
    color: #eee; }
  /* line 42, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .nav .box {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    color: #eee;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    opacity: 0.4; }
    /* line 52, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .nav .box:hover {
      opacity: 1;
      cursor: pointer; }

/* line 59, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.blue {
  background: #6495ED; }

/* line 63, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.green {
  background: #37a679; }

/* line 67, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.red {
  background: #F26D6D; }

/* line 71, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.purple {
  background: #bd63de; }

/* line 75, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.orange {
  background: #E8852C; }

/* line 79, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.active {
  opacity: 1 !important; }

/* line 83, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.card {
  margin-left: 50px;
  min-height: 400px;
  padding-bottom: 100px; }
  /* line 87, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .usage {
    overflow: auto;
    color: #eee;
    margin-left: 20px;
    max-width: 600px;
    padding: 0px 0px 10px 10px;
    font-size: 16px; }
    /* line 89, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card .usage h3 {
      margin-bottom: 0px; }
  /* line 98, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .request {
    display: inline-block; }
  /* line 101, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card .info {
    font-size: 20px;
    margin-left: -35px;
    cursor: pointer; }
  /* line 106, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card h1 {
    padding-top: 5px;
    padding-left: 30px;
    font-size: 70px;
    letter-spacing: 10px;
    margin-top: 0px;
    color: #eee;
    font-family: 'Poiret One', cursive; }
  /* line 115, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card h2 {
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: -60px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Poiret One', cursive;
    color: #eee; }
  /* line 124, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card a {
    text-decoration: none;
    color: #eee;
    font-family: monospace; }

/* line 131, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.fm-bg {
  background-color: #37a679; }
  /* line 134, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .fm-bg h1,
  .fm-bg h2 {
    background-color: #3cb483; }
  /* line 137, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .fm-bg .usage {
    border-left: 5px solid #3cb483; }
  /* line 140, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .fm-bg .metadata {
    margin-left: 30px;
    color: #eee;
    font-family: 'Ubuntu', sans-serif; }
    /* line 144, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata h3 {
      margin-bottom: 10px; }
    /* line 147, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata .file-upload {
      position: relative;
      overflow: hidden; }
    /* line 151, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata .file-upload input.file-input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer; }
    /* line 163, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .fm-bg .metadata button:hover {
      background: white;
      color: #40C18C; }

/* line 171, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.timestamp-bg {
  background-color: #6495ED; }
  /* line 174, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .timestamp-bg h1,
  .timestamp-bg h2 {
    background-color: #6ca0fe; }
  /* line 177, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .timestamp-bg .usage {
    border-left: 5px solid #6ca0fe; }
  /* line 180, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .timestamp-bg .timestamp {
    margin-left: 30px;
    color: #eee;
    font-family: 'Ubuntu', sans-serif; }
    /* line 184, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .timestamp-bg .timestamp h3 {
      margin-bottom: 10px; }
    /* line 187, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .timestamp-bg .timestamp input[type=text] {
      background: none;
      border: none;
      max-width: 500px;
      border-bottom: 2px solid #eee;
      border-left: 2px solid #eee;
      padding-left: 5px;
      color: white;
      letter-spacing: 2px; }
      /* line 196, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .timestamp-bg .timestamp input[type=text]:focus {
        outline: none; }

/* line 203, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.url-bg {
  background-color: #F26D6D; }
  /* line 206, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg h1,
  .url-bg h2 {
    background-color: #EF8080; }
  /* line 209, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg .usage {
    border-left: 5px solid #EF8080; }
  /* line 212, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg .url-short {
    margin-left: 30px;
    color: #eee; }
  /* line 216, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .url-bg input[type=text] {
    background: none;
    border: none;
    max-width: 500px;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
    padding-left: 5px;
    color: white;
    letter-spacing: 2px; }
    /* line 225, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .url-bg input[type=text]:focus {
      outline: none; }

/* line 231, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.header-bg {
  background-color: #bd63de; }
  /* line 234, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .header-bg h1,
  .header-bg h2 {
    background-color: #cd6cf0; }
  /* line 237, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .header-bg .usage {
    border-left: 5px solid #cd6cf0; }
  /* line 240, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .header-bg .header-parser {
    margin-left: 30px;
    color: #eee; }
    /* line 243, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .header-bg .header-parser h3 {
      margin-bottom: 10px; }
    /* line 246, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .header-bg .header-parser button {
      background: none;
      border: 2px solid white;
      border-radius: 2px;
      padding: 5px 10px;
      color: #eee;
      font-family: monospace;
      cursor: pointer; }
      /* line 254, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .header-bg .header-parser button:hover {
        background: white;
        color: #bd63de; }
      /* line 258, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .header-bg .header-parser button:focus {
        outline: none; }

/* line 265, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.img-bg {
  background-color: #E8852C; }
  /* line 268, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .img-bg h1,
  .img-bg h2 {
    background-color: #fa8e2e; }
  /* line 271, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .img-bg .usage {
    border-left: 5px solid #fa8e2e; }
  /* line 274, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .img-bg .img-ab {
    margin-left: 30px;
    color: #eee; }
    /* line 277, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .img-bg .img-ab h3 {
      margin-bottom: 10px; }
    /* line 280, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .img-bg .img-ab input[type=text] {
      background: none;
      border: none;
      max-width: 500px;
      border-bottom: 2px solid #eee;
      border-left: 2px solid #eee;
      padding-left: 5px;
      color: white;
      letter-spacing: 2px; }
      /* line 289, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .img-bg .img-ab input[type=text]:focus {
        outline: none; }

/* line 296, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
.img-response {
  overflow: auto; }

/* line 301, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* line 304, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
:-moz-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* line 307, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
::-moz-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* line 310, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
:-ms-input-placeholder {
  color: white;
  font-weight: 100;
  opacity: .7; }

/* Custom, iPhone Retina */
@media only screen and (max-width: 600px) {
  /* line 325, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card {
    margin-left: 35px !important;
    height: 100%;
    padding-bottom: 20px; }
    /* line 329, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card h1 {
      font-size: 25px; }
    /* line 332, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card h2 {
      font-size: 10px;
      margin-top: -17px;
      padding-bottom: 10px;
      letter-spacing: 3px; }
    /* line 338, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card .usage {
      margin-left: 10px; }
      /* line 340, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .card .usage h3 {
        font-size: 15px; }
  /* line 345, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .nav {
    margin-top: 10vh; }
  /* line 348, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .sidebar {
    width: 39px; }
    /* line 350, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .sidebar i {
      margin: 15px 0px 0px 8px; } }

@media only screen and (min-width: 500px) and (max-width: 800px) {
  /* line 357, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .card {
    margin-left: 35px !important;
    height: 100%;
    padding-bottom: 20px; }
    /* line 361, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card h1 {
      font-size: 25px; }
    /* line 364, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card h2 {
      font-size: 10px;
      margin-top: -17px;
      padding-bottom: 10px;
      letter-spacing: 3px; }
    /* line 370, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .card .usage {
      margin-left: 10px; }
      /* line 372, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
      .card .usage h3 {
        font-size: 15px; }
  /* line 377, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .nav {
    margin-top: 10vh; }
  /* line 380, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .sidebar {
    width: 39px; }
    /* line 382, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
    .sidebar i {
      margin: 15px 0px 0px 8px; }
  /* line 386, C:/Users/brand/Documents/Web Design/Apps/Random-Microservices/public/css/main.scss */
  .links {
    display: none; } }

/*# sourceMappingURL=main.css.map */